/**
 * Block: Entry - Editor Styles
 *
 * Block editor specific styles for the Entry block. Handles editor-only styling,
 * preview states, and block editor interface integration.
 *
 * @file        blocks/entry
 * @package     Logger Theme
 * @subpackage  orbitools/blocks
 * @author      Adam Cullen, Orbital Tech Team
 * @since       1.0.0
 * @version     1.2.0
 *
 * @see         blocks/entry/style.scss - Frontend styles
 */

$elem_base: 'orb-entry';

.#{$elem_base} {
    border: 0px dashed #32a3e2;
    border-radius: 2px;
    background: rgba(0, 124, 186, 0);
    padding: 0;
    transition: all 0.25s ease;

    // UI Cues
    &:hover {
        background: rgba(0, 124, 186, 0.05);
        border-width: 1px;
        border-radius: 6px;
        padding: 10px;
    }

    &.is-selected,
    &.has-child-selected {
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        padding: 10px;
    }

    > .block-editor-inner-blocks,
    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: contents;
    }

    &:has(> .block-editor-inner-blocks > .block-editor-block-list__layout .block-list-appender:only-child),
    &:has(> .block-editor-inner-blocks > .block-editor-block-list__layout:empty) {
        padding: 10px;
        background: rgba(0, 124, 186, 0.2);
        border-radius: 6px;

        &:hover {
            cursor: pointer;
        }
    }

    &.block-editor-block-list__block {
        .block-list-appender {
            bottom: initial;
            list-style: none;
            padding: 0;
            position: relative;
            right: initial;
            z-index: 2;
            display: none !important;
            align-self: center;

            &:only-child {
                display: flex !important;
            }

            &:not(:only-child) {
                margin-top: 10px;
            }
            .block-editor-button-block-appender {
                background: #f2f6fc;
                aspect-ratio: 1/1;
                border-radius: 4px;
                max-width: 40px;
                max-height: initial !important;
                transition: all .15s ease;

                &:hover,
                &:focus {
                    background: #32a3e2;
                    color: white;
                }
            }

        }

        &.is-selected,
        &.has-child-selected {
            .block-list-appender {
                display: flex !important;
            }
        }

        &:has(> .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender:only-child) {
            // background: red !important;
            justify-content: center;
            align-items: center;
        }
    }
}

// Parent Layout Classes - Controls classes on children, fit | equal/grow | 5 col grid | 12 col grid
// Automatic Equal columns
.orb-collection[data-layout="equal"]  {
    &,
    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        > .#{$elem_base} {
            flex: 1 1 0;
            min-width: 0;
        }
    }
}

// 5-column grid system
.orb-collection[data-layout="penta"]  {
    &,
    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        > .#{$elem_base} {
            flex: 1 1 0;
            width: 100%;
            max-width: 100%;

            &.#{$elem_base}--w-1 { max-width: 20%; }
            &.#{$elem_base}--w-2 { max-width: 40%; }
            &.#{$elem_base}--w-3 { max-width: 60%; }
            &.#{$elem_base}--w-4 { max-width: 80%; }
            &.#{$elem_base}--w-5 { max-width: 100%; }
        }
    }

}

// 12-column grid system
.orb-collection[data-layout="dodeca"] {
    &,
    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        > .#{$elem_base} {
            flex: 1 1 0;
            width: 100%;
            max-width: 100%;

            &.#{$elem_base}--w-1 { max-width: 8.333333%; }
            &.#{$elem_base}--w-2 { max-width: 16.666667%; }
            &.#{$elem_base}--w-3 { max-width: 25%; }
            &.#{$elem_base}--w-4 { max-width: 33.333333%; }
            &.#{$elem_base}--w-5 { max-width: 41.666667%; }
            &.#{$elem_base}--w-6 { max-width: 50%; }
            &.#{$elem_base}--w-7 { max-width: 58.333333%; }
            &.#{$elem_base}--w-8 { max-width: 66.666667%; }
            &.#{$elem_base}--w-9 { max-width: 75%; }
            &.#{$elem_base}--w-10 { max-width: 83.333333%; }
            &.#{$elem_base}--w-11 { max-width: 91.666667%; }
        }
    }

}
