/**
 * Block: Entry - Frontend Styles
 *
 * Frontend specific styles for the Entry block. Handles frontend/editor styling,
 * preview states.
 *
 * @file        blocks/entry
 * @package     Logger Theme
 * @subpackage  orbitools/blocks
 * @author      Adam Cullen, Orbital Tech Team
 * @since       1.0.0
 * @version     1.2.0
 *
 * @see         blocks/entry/editor.scss - Editor styles
 */

$elem_base: 'orb-entry';

.#{$elem_base} {
    display: flex;
    flex-direction: column;
    min-width: 0; /* Prevent overflow */
    position: relative;

    // Parent Layout Classes - Controls classes on children, fit | equal/grow | 5 col grid | 12 col grid

    // Automatic Equal columns
    .orb-collection[data-layout="equal"] &  {
        flex: 1 1 0;
        min-width: 0;
    }

    // 5-column grid system
    .orb-collection[data-layout="penta"] &  {
        flex: 1 1 0;
        width: 100%;
        max-width: 100%;

        &.#{$elem_base}--w-1 { max-width: 20%; }
        &.#{$elem_base}--w-2 { max-width: 40%; }
        &.#{$elem_base}--w-3 { max-width: 60%; }
        &.#{$elem_base}--w-4 { max-width: 80%; }
        &.#{$elem_base}--w-5 { max-width: 100%; }
    }

    // 12-column grid system
    .orb-collection[data-layout="dodeca"] & {
        flex: 1 1 0;
        width: 100%;
        max-width: 100%;

        &.#{$elem_base}--w-1 { max-width: 8.333333%; }
        &.#{$elem_base}--w-2 { max-width: 16.666667%; }
        &.#{$elem_base}--w-3 { max-width: 25%; }
        &.#{$elem_base}--w-4 { max-width: 33.333333%; }
        &.#{$elem_base}--w-5 { max-width: 41.666667%; }
        &.#{$elem_base}--w-6 { max-width: 50%; }
        &.#{$elem_base}--w-7 { max-width: 58.333333%; }
        &.#{$elem_base}--w-8 { max-width: 66.666667%; }
        &.#{$elem_base}--w-9 { max-width: 75%; }
        &.#{$elem_base}--w-10 { max-width: 83.333333%; }
        &.#{$elem_base}--w-11 { max-width: 91.666667%; }
        &.#{$elem_base}--w-12 { max-width: 100%; }
    }
}