// Theme Breakpoints Map
$orbi-breakpoints: (
  sm: var(--orbi-bp-sm, 50.6875rem), // 811px
  md: var(--orbi-bp-md, 67.5625rem), // 1081px
  lg: var(--orbi-bp-lg, 85rem), // 1360px
  xl: var(--orbi-bp-xl, 100rem) // 1600px
);

$wp-presets: (
    'layout-base': var(--wp--style--global--content-size, 650px),
    'layout-wide': var(--wp--style--global--wide-size, 1200px)
);
