// Theme Breakpoints Map
$orbi-breakpoints: (
  sm: var(--orbi-bp-sm, 50.6875rem), // 811px
  md: var(--orbi-bp-md, 67.5625rem), // 1081px
  lg: var(--orbi-bp-lg, 85rem), // 1360px
  xl: var(--orbi-bp-xl, 100rem) // 1600px
);

$wp-presets: (
    'layout-base': var(--wp--style--global--content-size, 650px),
    'layout-wide': var(--wp--style--global--wide-size, 1200px)
);

/**
 * Flex Layout - Utility Classes
 *
 * @module Flex_Layout_Controls
 * Static CSS classes for flex layouts
 */
 $flex-layout-utils: (
    // Flex Direction Classes & Flex Wrap Classes
    'flex-flow': (
        'column': (
            'flex-direction': column,
        ),
        'row-reverse': (
            'flex-direction': row-reverse,
        ),
        'column-reverse': (
            'flex-direction': column-reverse,
        ),
        'wrap': (
            'flex-wrap': wrap,
        ),
        'wrap-reverse': (
            'flex-wrap': wrap-reverse,
        ),
    ),
    // Flex Direction Classes & Flex Wrap Classes
    'flex-items': (
        'center': (
            'align-items': center,
        ),
        'start': (
            'align-items': flex-start,
        ),
        'end': (
            'align-items': flex-end,
        ),
    ),
    // Justify Content Classes
    'flex-justify': (
        'center': (
            'justify-content': center,
        ),
        'start': (
            'justify-content': flex-start,
        ),
        'end': (
            'justify-content': flex-end,
        ),
        'between': (
            'justify-content': space-between,
        ),
        'around': (
            'justify-content': space-around,
        ),
        'evenly': (
            'justify-content': space-evenly,
        ),
    ),
    // Align Content Classes
    'flex-content': (
        'center': (
            'align-content': center,
        ),
        'start': (
            'align-content': flex-start,
        ),
        'end': (
            'align-content': flex-end,
        ),
        'between': (
            'align-content': space-between,
        ),
        'around': (
            'align-content': space-around,
        ),
        'evenly': (
            'align-content': space-evenly,
        ),
    ),
    // Constrain Classes
    'flex-constrain': (
        'max-width': var(--wp--style--global--content-size, 1200px),
        'margin-left': auto,
        'margin-right': auto,
    ),
);

/**
 * Flex Grid Widths - Utility Classes
 *
 * @module Flex_Layout_Controls
 * SCSS map for grid widths
 * Used in place of an $int/percentage calculation due to floating-point precision errors
 */
 $flex-grid-width-utils: (
    'penta': (20%, 40%, 60%, 80%, 100%),
    'dodeca': (8.333333%, 16.666667%, 25%, 33.333333%, 41.666667%, 50%, 58.333333%, 66.666667%, 75%, 83.333333%, 91.666667%, 100%),
 );
